<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css">
    <!-- Inclure le header -->
    {% block header %}
        {% include 'header.html.twig' %}
    {% endblock %}
</head>
<body >

<!-- Contenu spécifique de la page -->
<div class="content">
    {% block content %}{% endblock %}
</div>

<!-- Inclure le footer -->
{% block footer %}
    {% include 'footer.html.twig' %}
{% endblock %}

</body>
</html>
