<!DOCTYPE html>
<html>
<head>
    <title>Mon site Symfony</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

</head>
<body>
<!-- Inclure le header -->
{% block header %}
    {% include 'header.html.twig' %}
{% endblock %}

<!-- Contenu spécifique de la page -->
<div class="content">
    {% block content %}{% endblock %}
</div>

<!-- Inclure le footer -->
{% block footer %}
    {% include 'footer.html.twig' %}
{% endblock %}
</body>
</html>
