<html>
<head>
    <title>Mon site</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>© 2023 - Tous droits réservés</p>
            </div>
        </div>
    </div>
</footer>
</html>